/* app css stylesheet */

body {
    margin: 10px;
}

.specialists, .insurers {
    float: left;
    padding-right: 10px;
}

.options {
    padding-top: 10px;
}

.welcome, .results {
    padding-top: 10px;
    clear: both;
}
