/* app css stylesheet */
/* line 3, ../sass/app.scss */
body {
  margin: 10px;
}

/* line 7, ../sass/app.scss */
.specialists, .insurers {
  float: left;
  padding-right: 10px;
}

/* line 12, ../sass/app.scss */
.options {
  padding-top: 10px;
}

/* line 16, ../sass/app.scss */
.welcome, .results {
  padding-top: 10px;
  clear: both;
}
